body {
    background-color: #FFF;
    background-image: linear-gradient(315deg, #f9c5d1 0%, #9795ef 74%);
}

html {
    height: 100%;
}

h1 {
	text-align: center;
}

.info {
    font-size: 2em !important;
}

._row{
	height: 100px;
}

._col{
	height: 100px;
	width: 100px;
	float: left;
	font-size: 100px;
	text-align: center;
	line-height: 100px;

}

._col:hover{
    cursor: pointer;
    background-color: #27aae15c;
}

._col{
    transition: ease-in-out;
    -webkit-transition: ease-in-out;
    transition-delay: 5ms;
    animation: ease-in-out;
    animation-delay: 5ms;

}
.border_f
{
	border-bottom: 10px solid #17406A;
	width: 92%;
}
.border_s
{
	border-right: 10px solid #17406A;
}
.winner {
	color: green;
}
.wrapper {
    width:100%;
    display: inline-grid;
}
.back {
	width: 30%;
    height: 500px;
    background-color: #14bdac;
    float: left;
    margin: auto;
    margin-left: auto;
    margin-top: 20px;
}
.play img {
	width: 140px;
    height: 140px;
    margin: auto;
    margin-left: 115px;
    margin-top: 20px;
}
.play h2{
	margin-top: 0px;
    text-align: center;
    font-size: 40px;
    font-weight: 500;
    color: #2B60DE;
}
.feild
{
	padding: 2px;
    margin: auto;
    margin-left: 100px;
    margin-bottom: 20px;
    margin-top: 0px;
}
.alt
{
	color: red;
}


.hidden {
    display: none;
}


.vnone {
    visibility: hidden;
}

.face img {
    border-radius: 100%;
    border: 3px solid #2B60DE;
    display: block;
}

.info .msg {
    vertical-align: text-bottom;
    position: absolute;
    right: -14px;
    margin: -3px 0;
}

.info .you, .info .opponent {
    position: absolute;
}

.info .you {
    bottom: 0;
    max-width: 61px;
    min-width: 61px;
}

.rel {
    position: relative;
}

.end-match {
    position: absolute;
    top: 0;
    right: 0;
}

.info p {
    font-weight: bold;
    font-size: 15px;
    margin-top: 5px;
    text-transform: uppercase;
    text-align: center;
}

.sidep {
    height: 300px;
    min-height: 400px !important;
    position: relative;
}

.nav {
    margin: 10px 0;
}

.symbol {
    position: absolute;
    color: #fff;
    cursor: default;
    font-size: 10px;
    background: #2b60de;
    border-radius: 100%;
    font-weight: bold;
    padding: 0 4px;
}

.you .symbol {
    top: 0px;
    right: 5px;
}

.opponent .symbol {
    top: 0px;
    right: 5px;
}

.active {
    background: #228b1c;
    border: 1px solid #228b1c !important;
}